DOMAIN=golibas.online
PUBLIC_BASEURL=https://golibas.online/
SYNAPSE_IMAGE=ghcr.io/element-hq/synapse:v1.149.1
POSTGRES_IMAGE=postgres:16
POSTGRES_DB=synapse
POSTGRES_USER=synapse_user
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD
REGISTRATION_SHARED_SECRET=CHANGE_ME_REGISTRATION_SHARED_SECRET
PASSWORD_PEPPER=CHANGE_ME_PASSWORD_PEPPER
MAX_UPLOAD_SIZE=50M
MESSAGE_RETENTION_MAX=180d
LOCAL_MEDIA_RETENTION=180d
REMOTE_MEDIA_RETENTION=30d
REDACTION_RETENTION=30d
FORGOTTEN_ROOM_RETENTION=30d
USER_IPS_MAX_AGE=30d
DELETE_STALE_DEVICES_AFTER=180d
ADMIN_CONTACT=mailto:admin@golibas.online
TURN_HOST=golibas.online
TURN_SECRET=CHANGE_ME_TURN_SECRET
SERVER_NOTICES_MXID_LOCALPART=notices
SERVER_NOTICES_DISPLAY_NAME="Server Notices"
SERVER_NOTICES_ROOM_NAME="Server Notices"
SERVER_NOTICES_ROOM_TOPIC="Operational notices for golibas.online Chat"
AUTO_JOIN_ROOM_ALIAS="#general:golibas.online"
ELEMENT_WEB_ROOT=/usr/share/element-web
ELEMENT_CONFIG_PATH=/etc/element-web/config.json
ELEMENT_BRAND="golibas.online Chat"
CERTBOT_EMAIL=
CERTBOT_ARGS=
SSH_PORT=22
TZ=UTC
